# Data Cleaning for EDA

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

## First Dataset

In [2]:
df1 = pd.read_csv('C:\\Users\\SHADOW\\Technical Seminar\\IPL\\DATASETS\\IPL Matches 2008-2020.csv')
df1.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

## Data Cleaning

_Keep only current teams_

In [4]:
df1['team1'] = np.where(df1.team1 == 'Delhi Daredevils', 'Delhi Capitals', df1.team1)
df1['team2'] = np.where(df1.team2 == 'Delhi Daredevils', 'Delhi Capitals', df1.team2)
df1['team1'] = np.where(df1.team1 == 'Deccan Chargers', 'Sunrisers Hyderabad', df1.team1)
df1['team2'] = np.where(df1.team2 == 'Deccan Chargers', 'Sunrisers Hyderabad', df1.team2)
df1['winner'] = np.where(df1.winner == 'Deccan Chargers', 'Sunrisers Hyderabad', df1.winner)
df1['winner'] = np.where(df1.winner == 'Delhi Daredevils', 'Delhi Capitals', df1.winner)
df1['toss_winner'] = np.where(df1.toss_winner == 'Deccan Chargers', 'Sunrisers Hyderabad', df1.toss_winner)
df1['venue'] = np.where(df1.venue == 'M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium', df1.venue)

In [5]:
consistent_teams = ['Kolkata Knight Riders', 'Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
                    'Rajasthan Royals', 'Mumbai Indians', 'Sunrisers Hyderabad', 'Chennai Super Kings']

df1 = df1[(df1['team1'].isin(consistent_teams)) & (df1['team2'].isin(consistent_teams))]

_Remove Redundancies_

In [6]:
df1 = df1.drop(columns = ['neutral_venue', 'method', 'city'])

In [7]:
df1.isnull().sum()

id                  0
date                0
player_of_match     3
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              3
result              3
result_margin      15
eliminator          3
umpire1             0
umpire2             0
dtype: int64

In [8]:
df1['winner'].replace(np.nan, 'Abandoned', inplace=True)
df1.loc[df1.winner=='Abandoned']

,id,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,umpire1,umpire2
486,829763,2015-04-29,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Abandoned,NaN,NaN,NaN,JD Cloete,PG Pathak
511,829813,2015-05-17,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,field,Abandoned,NaN,NaN,NaN,HDPK Dharmasena,K Srinivasan
744,1178424,2019-04-30,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Abandoned,NaN,NaN,NaN,UV Gandhe,NJ Llong

In [9]:
df1['result_margin'].replace(np.nan, 0, inplace=True)

In [10]:
df1x = df1.loc[df1.result_margin==0]
df1x

,id,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,umpire1,umpire2
66,392190,2009-04-23,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,0.0,Y,MR Benson,M Erasmus
130,419121,2010-03-21,J Theron,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,field,Kings XI Punjab,tie,0.0,Y,K Hariharan,DJ Harper
328,598004,2013-04-07,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Sunrisers Hyderabad,tie,0.0,Y,AK Chaudhary,S Ravi
341,598017,2013-04-16,V Kohli,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,field,Royal Challengers Bangalore,tie,0.0,Y,M Erasmus,VA Kulkarni
416,729315,2014-04-29,JP Faulkner,Sheikh Zayed Stadium,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,tie,0.0,Y,Aleem Dar,AK Chaudhary
476,829741,2015-04-21,SE Marsh,"Sardar Patel Stadium, Motera",Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,tie,0.0,Y,M Erasmus,S Ravi
486,829763,2015-04-29,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Abandoned,NaN,0.0,NaN,JD Cloete,PG Pathak
511,829813,2015-05-17,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,field,Abandoned,NaN,0.0,NaN,HDPK Dharmasena,K Srinivasan
705,1175365,2019-03-30,PP Shaw,Feroz Shah Kotla,Delhi Capitals,Kolkata Knight Riders,Delhi Capitals,field,Delhi Capitals,tie,0.0,Y,AY Dandekar,Nitin Menon
744,1178424,2019-04-30,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Abandoned,NaN,0.0,NaN,UV Gandhe,NJ Llong
746,1178426,2019-05-02,JJ Bumrah,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,tie,0.0,Y,CK Nandan,S Ravi
757,1216493,2020-09-20,MP Stoinis,Dubai International Cricket Stadium,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,tie,0.0,Y,AK Chaudhary,Nitin Menon
776,1216512,2020-10-18,LH Ferguson,Sheikh Zayed Stadium,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kolkata Knight Riders,tie,0.0,Y,PG Pathak,S Ravi
781,1216517,2020-10-18,KL Rahul,Dubai International Cricket Stadium,Mumbai Indians,Kings XI Punjab,Mumbai Indians,bat,Kings XI Punjab,tie,0.0,Y,Nitin Menon,PR Reiffel
811,1216547,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,0.0,Y,Nitin Menon,PR Reiffel

In [11]:
df1.shape

(701, 14)

In [12]:
df1.isnull().sum()

id                 0
date               0
player_of_match    3
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             3
result_margin      0
eliminator         3
umpire1            0
umpire2            0
dtype: int64

In [13]:
df1.dropna(how = 'any', axis = 0, inplace = True)

In [14]:
df1.isnull().sum()

id                 0
date               0
player_of_match    0
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
umpire1            0
umpire2            0
dtype: int64

In [15]:
df1.shape

(698, 14)

_New column for season_

In [16]:
df1[['season','month','day']] = df1['date'].str.split('-', expand = True)

In [17]:
df1 = df1.drop(columns = ['month','day'])
df1=df1[df1.columns[[0,1,14,2,3,4,5,6,7,8,9,10,11,12,13]]]

In [18]:
df1.head()

,id,date,season,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,umpire1,umpire2
0,335982,2008-04-18,2008,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,Asad Rauf,RE Koertzen
1,335983,2008-04-19,2008,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,MR Benson,SL Shastri
2,335984,2008-04-19,2008,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9.0,N,Aleem Dar,GA Pratapkumar
3,335985,2008-04-20,2008,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,SJ Davis,DJ Harper
4,335986,2008-04-20,2008,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,5.0,N,BF Bowden,K Hariharan

In [19]:
df1.dtypes

id                   int64
date                object
season              object
player_of_match     object
venue               object
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
umpire1             object
umpire2             object
dtype: object

In [20]:
df1['date'] = df1['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [21]:
df1['season'] = df1['season'].astype(int)

In [22]:
df1['result_margin'] = df1['result_margin'].astype(int)

In [23]:
df1.dtypes

id                          int64
date               datetime64[ns]
season                      int32
player_of_match            object
venue                      object
team1                      object
team2                      object
toss_winner                object
toss_decision              object
winner                     object
result                     object
result_margin               int32
eliminator                 object
umpire1                    object
umpire2                    object
dtype: object

In [24]:
df1.to_csv('matches.csv')

## Second Dataset

In [25]:
df2 = pd.read_csv('C:\\Users\\SHADOW\\Technical Seminar\\IPL\\DATASETS\\IPL Ball-by-Ball 2008-2020.csv')
df2.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

## Data Cleaning

_Keep only current teams_

In [26]:
df2['batting_team'] = np.where(df2.batting_team == 'Delhi Daredevils', 'Delhi Capitals', df2.batting_team)
df2['bowling_team'] = np.where(df2.bowling_team == 'Delhi Daredevils', 'Delhi Capitals', df2.bowling_team)
df2['batting_team'] = np.where(df2.batting_team == 'Deccan Chargers', 'Sunrisers Hyderabad', df2.batting_team)
df2['bowling_team'] = np.where(df2.bowling_team == 'Deccan Chargers', 'Sunrisers Hyderabad', df2.bowling_team)

In [27]:
df2 = df2[(df2['batting_team'].isin(consistent_teams)) & (df2['bowling_team'].isin(consistent_teams))]

_Remove Redundancies_

In [28]:
df2 = df2.drop(columns = ['non_striker', 'non_boundary'])

In [29]:
df2.drop(df2[(df2['id'] == 829813)].index, inplace=True)
df2.drop(df2[(df2['id'] == 1178424)].index, inplace=True)
df2.shape

(166153, 16)

In [30]:
df2.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
is_wicket                0
dismissal_kind      158000
player_dismissed    158000
fielder             160326
extras_type         157281
batting_team             0
bowling_team             0
dtype: int64

In [31]:
df2['dismissal_kind'].replace(np.nan, 'Not Out', inplace=True)
df2['player_dismissed'].replace(np.nan, 'No', inplace=True)
df2['fielder'].replace(np.nan, 'No', inplace=True)
df2['extras_type'].replace(np.nan, 'Fair Delivery', inplace=True)

In [32]:
df2.isnull().sum()

id                  0
inning              0
over                0
ball                0
batsman             0
bowler              0
batsman_runs        0
extra_runs          0
total_runs          0
is_wicket           0
dismissal_kind      0
player_dismissed    0
fielder             0
extras_type         0
batting_team        0
bowling_team        0
dtype: int64

In [33]:
df2.head()

,id,inning,over,ball,batsman,bowler,batsman_runs,extra_runs,total_runs,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,AA Noffke,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,AA Noffke,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,Z Khan,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,Z Khan,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,Z Khan,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore

In [34]:
df2['over']=df2['over'].apply(str)
df2['ball']=df2['ball'].apply(str)
df2.dtypes

df2['overs'] = df2['over'] +'.'+ df2['ball']

df2.drop(columns = ['over','ball'], inplace = True)

In [35]:
df2.head()

,id,inning,batsman,bowler,batsman_runs,extra_runs,total_runs,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,overs
0,335982,1,RT Ponting,AA Noffke,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,6.5
1,335982,1,BB McCullum,AA Noffke,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,6.6
2,335982,1,BB McCullum,Z Khan,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,7.1
3,335982,1,BB McCullum,Z Khan,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,7.2
4,335982,1,RT Ponting,Z Khan,1,0,1,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,7.3

In [36]:
df2 = df2.sort_values(by=['id', 'inning', 'overs']).reset_index()
df2 = df2.drop(columns = ['index'])
df2.head()

,id,inning,batsman,bowler,batsman_runs,extra_runs,total_runs,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,overs
0,335982,1,SC Ganguly,P Kumar,0,1,1,0,Not Out,No,No,legbyes,Kolkata Knight Riders,Royal Challengers Bangalore,0.1
1,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.2
2,335982,1,BB McCullum,P Kumar,0,1,1,0,Not Out,No,No,wides,Kolkata Knight Riders,Royal Challengers Bangalore,0.3
3,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.4
4,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.5

In [37]:
new_c = df1.groupby(['season','id']).count().sort_values(by = 'season', ascending=True).reset_index()
new_c.drop(columns = ['date', 'player_of_match', 'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 
                    'winner', 'result', 'result_margin', 'eliminator', 'umpire1', 'umpire2'], inplace=True)
new_c

     season       id
0      2008   335982
1      2008   336013
2      2008   336014
3      2008   336015
4      2008   336016
..      ...      ...
693    2020  1216516
694    2020  1216517
695    2020  1216518
696    2020  1216520
697    2020  1237181

[698 rows x 2 columns]

In [38]:
new_c.to_csv('season.csv')

In [39]:
df2x = df2.merge(new_c, left_on=['id'], right_on = ['id'], how='left')
df2x

,id,inning,batsman,bowler,batsman_runs,extra_runs,total_runs,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,overs,season
0,335982,1,SC Ganguly,P Kumar,0,1,1,0,Not Out,No,No,legbyes,Kolkata Knight Riders,Royal Challengers Bangalore,0.1,2008
1,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.2,2008
2,335982,1,BB McCullum,P Kumar,0,1,1,0,Not Out,No,No,wides,Kolkata Knight Riders,Royal Challengers Bangalore,0.3,2008
3,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.4,2008
4,335982,1,BB McCullum,P Kumar,0,0,0,0,Not Out,No,No,Fair Delivery,Kolkata Knight Riders,Royal Challengers Bangalore,0.5,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166148,1237181,2,RG Sharma,AR Patel,4,0,4,0,Not Out,No,No,Fair Delivery,Mumbai Indians,Delhi Capitals,9.2,2020
166149,1237181,2,RG Sharma,AR Patel,1,0,1,0,Not Out,No,No,Fair Delivery,Mumbai Indians,Delhi Capitals,9.3,2020
166150,1237181,2,SA Yadav,AR Patel,0,0,0,0,Not Out,No,No,Fair Delivery,Mumbai Indians,Delhi Capitals,9.4,2020
166151,1237181,2,SA Yadav,AR Patel,1,0,1,0,Not Out,No,No,Fair Delivery,Mumbai Indians,Delhi Capitals,9.5,2020
166152,1237181,2,RG Sharma,AR Patel,1,0,1,0,Not Out,No,No,Fair Delivery,Mumbai Indians,Delhi Capitals,9.6,2020

In [40]:
df2x.columns

Index(['id', 'inning', 'batsman', 'bowler', 'batsman_runs', 'extra_runs',
       'total_runs', 'is_wicket', 'dismissal_kind', 'player_dismissed',
       'fielder', 'extras_type', 'batting_team', 'bowling_team', 'overs',
       'season'],
      dtype='object')

In [41]:
df2x =df2x[df2x.columns[[0,15,1,12,13,2,3,14,4,6,7,9,8,10,5,11]]]
df2x.head()

,id,season,inning,batting_team,bowling_team,batsman,bowler,overs,batsman_runs,total_runs,is_wicket,player_dismissed,dismissal_kind,fielder,extra_runs,extras_type
0,335982,2008,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,0.1,0,1,0,No,Not Out,No,1,legbyes
1,335982,2008,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0.2,0,0,0,No,Not Out,No,0,Fair Delivery
2,335982,2008,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0.3,0,1,0,No,Not Out,No,1,wides
3,335982,2008,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0.4,0,0,0,No,Not Out,No,0,Fair Delivery
4,335982,2008,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,0.5,0,0,0,No,Not Out,No,0,Fair Delivery

In [42]:
df2x.to_csv('deliveries.csv')

### Two new datasets obtained    -    matches.csv  &  deliveries.csv